proje2/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MovieType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="genreRef" type="xs:string"/>
      <xs:element name="year" type="xs:integer"/>
      <xs:element name="rating" type="xs:decimal"/>
      <xs:element name="dirRef" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>
  <xs:element name="movie_database">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="movie" type="MovieType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="directors_database">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="director" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence><xs:element name="name" type="xs:string"/></xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>